body{
  background-color: black;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }

  .boxGold{
    background-color: grey;
    width: 100%;
    box-shadow: 4px;
    border: 15px solid gold;
    padding: 50px;
    margin: 20px;
  }
  
  *p{
    color: blue;
  }

  .titleFont {
    font-family: 'Mohave', sans-serif;
  }

 /* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}


/* Rounded */
.round {
  position: fixed;
  height: 20em;
  width: 20em;
  border-radius: 50%;
  top: 50%;
  left: 5%;
  right: 5%;
}

/* text in paragraphs */
p{
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
}

/*Stolen */ 

.container  {
  position: absolute;
  top: 30%;
  left: 25%;
  right: 25%;
  width: 45em;
  height: 60em;
  border: 0.5em double red;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 1em;
  background:rgb(36, 36, 36);
  box-shadow: red 2px 2px 15px ;
  
}

.recipe {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1.0;
  font-size: 1.9em;
  color: mediumblue;
  font-family: "Yuji Mai";
  font-weight: normal;
  opacity: 0;

}





.ingredientsDeco, .instructionsDeco, .nutritionDeco {
  top: 0;
  height: 0;
  border-top: 0.8em solid white;
  border-bottom: 0.8em solid white;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
  opacity: 0;
  animation: fadeIn 1s 4s forwards, subExtend 1s 4.5s forwards;
}

.underline  {
  position: absolute;
  border-top: 1.4em solid white;
  border-bottom: 1.4em solid white;
  border-left: 1.4em solid transparent;
  border-right: 1.4em solid transparent;
  margin-top: 0em;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: appear 0.9s 1.4s forwards, extend 1s 2.2s forwards;
}

/* End Stolen*/

.f-in {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}